
/* .nav-wrapper{
    color: #5680E9;
} */
/* .container{
    border: 5px solid black;
} */
.navbar-right{
    padding-top: 15px;
}

#googleMap{

    height: 250px;
    width:  553px;
    text-align: center;

}
#footer{
    text-align: center;
}

.panel-body{
padding: 40px;
border: 40px;
}
.container {
  padding: 5px 10px;
}
body {
    background-color: #ECDCDC;
    padding-bottom: 30px;
}

.panel {
background-color: hsla(103, 42%, 37%, 0.37);

}
  
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
img {
    border-radius: 50%;
}
h4 {
    text-align: center;
}
