
.nav-wrapper{
    color: #5680E9;
}
/* .container{
    border: 1px solid black;
} */
.navbar-right{
    padding-top: 15px;
}

#googleMap{

    height: 250px;
    width:  553px;
    text-align: center;

}
#footer{
    text-align: center;
}

.panel-body{

padding: 40px;
border: 40px;
}
.container {
  padding: 5px 10px;
}
body {
    background-color: #ECDCDC;
    padding-bottom: 30px;
}

.panel {
background-color: hsl(174, 34%, 57%);
border-color: rgb(138, 172, 235);
}
  
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
img {
    border-radius: 50%;
}